doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="Giant Slide Game Company")
        meta(name="viewport" content="width=device-width,initial-scale=1")

        title Draft-O-Tron 2015

        link(rel="stylesheet" media="all" href="/public/app.css")

    body
        div.panel#draft
            h1#title Draft-O-Tron 2015
            h4#timer
                span#timer-type 
                span#time
            h3#type
            ol#order
        div.panel#chat
            ul#messages
            form(action="")
                input#m(autocomplete="off")
                button Gab
    
    script(src="/socket.io/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/public/app.js")
